@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Test</h1>
    <p class="lead">Se crearon varias pruebas que el candidato debe de resolver con el objetivo de medir sus habilidades de programación.</p>
</div>
<div class="row">
    <ul>
        <li>Se permite consultar internet.</li>
        <li>Se permite el uso de librerías externas para simplificar el desarrollo.</li>
        <li>Se pueden hacer preguntas puntuales.</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test 1</h2>
        <p>
            Se requiere mostrar correctamente el detalle de una cotización de Actividades.
            El codigo de la libreria que realiza la cotizacion se encuentra en la siguiente liga:
            https://github.com/Lotharok/glowing-dollop.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Test", "Home")">Empezar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test 2</h2>
        <p>Se requiere navegar a una ruta dentro de la aplicación.</p>
        <p><a class="btn btn-default" href="@Url.RouteUrl("Test2")">Empezar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test 3</h2>
        <p>
            Realizar una invocacion al API https://codetest.free.beeceptor.com/margin/{code} para recuperar 
            el margen personalizado por codigo de servicio y mostrarlo en la vista.
            Si el api contesta con un status 200 es que existe el margen debemos de regresar el valor de la respuesta.
            Si el api contesta cualquier otro status se debe de regresar { "margin": 0.0} .
            Ejemplo de la respuesta correcta del api { "margin": 0.0}
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Test3", "Home")">Empezar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test 3</h2>
        <p>
            Se requiere crear un decorado para el servicio que recupera el margen de una cotización.
            El cual debe de consultar la siguiente api https://codetest.free.beeceptor.com/margin/{code}
            para recuperar el margen personalizado por codigo de servicio.
            Si el api contesta con un status 200 es que existe el margen y debe de sustituir el default.
            Si el api contesta cualquier otro status se debe de respetar el margen defaul.
            Ejemplo de la respuesta correcta del api { "margin": 0.0}
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Test4", "Home")">Empezar</a></p>
    </div>
</div>

